.intro {
    height: 100vh;
    display: flex;
    align-items: center;
}

.title {
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
    /*position: relative;*/
    /*top: -100%*/
}

.sneaky {
    position: relative;
    bottom: 48vh;
    left: 1vh;
}

.continue {
    position: fixed;
    right: 1vh;
    bottom: 1vh;
    text-align: right;
}

.info-container {
    width: 80%;
    height: 65%;
    background-color: #12092D;
    margin: auto;
    border-radius: 16px;
    border: transparent solid 2px;
    transition: border-top-color 300ms,
                border-right-color 300ms,
                border-bottom-color 300ms,
                border-left-color 300ms;
}

.info {
    height: 100vh;
    display: flex;
    align-items: center;
    /*background: url("../icons/icon_os.png") space;*/
    background-size: 20vh;
}

.info-container:hover {
    border-color: #210084;
}

.box-links {
    padding: 64px;
}

.info-title {
    font-size: 5vw;
    font-weight: bold;
    /*padding: 8px;*/
}

p {
    padding-bottom: 16px;
}

ul {
    padding-left: 18px;
}
