.intro {
    height: 100vh;
    display: flex;
    align-items: center;
}

.title {
    font-size: 256px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    /*position: relative;*/
    /*top: -100%*/
}

.sneaky {
    position: relative;
    bottom: 48vh;
    left: 1vh;
}
