.intro {
    height: 100vh;
    display: flex;
    align-items: center;
}

.title {
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
    /*position: relative;*/
    /*top: -100%*/
}

.bg-warning {
    position: relative;
    bottom: 48vh;
    left: 1vh;
}

.continue {
    position: fixed;
    right: 1vh;
    bottom: 1vh;
    text-align: right;
}

.info-container {
    width: 80%;
    background-color: #12092D;
    margin: auto;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    border: transparent solid 2px;
    transition: border-top-color 300ms,
                border-right-color 300ms,
                border-bottom-color 300ms,
                border-left-color 300ms;
}

.info-container:hover {
    border-color: #210084;
}

.info {
    display: flex;
    align-items: center;
    /*background: url("../icons/icon_os.png") space;*/
    /*background-size: 20vh;*/
    padding-bottom: 17.5vh;
    padding-top: 17.5vh;
}

.box-links {
    padding: 64px;
    width: 50%;
    border-radius: 16px;
    border-right: transparent solid 2px;
    transition: border-right-color 300ms;
}

.box-links:hover {
    border-right-color: #210084;
}

.info-title {
    font-size: 5vw;
    font-weight: bold;
    /*padding: 8px;*/
}

.description, .links {
    padding-bottom: 16px;
}

ul {
    padding-left: 18px;
}

.sneaky {
    color: #12092D;
}

.team-title {
    font-size: 3vw;
    font-weight: bold;
}

.box-team {
    padding: 64px;
    width: 50%;
    border-radius: 16px;
    border-left: transparent solid 2px;
    transition: border-left-color 300ms;
}

.box-team:hover {
    border-left-color: #210084;
}

.profile-card:link, .profile-card:visited {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: #12092D;
    border-radius: 16px;
    border: #210084 solid 2px;
    transition: border-top-color 300ms,
                border-right-color 300ms,
                border-bottom-color 300ms,
                border-left-color 300ms,
                background-color 300ms;
}

.profile-card:hover {
    border-color: whitesmoke;
    background-color: #210084;
}

.profile-text {
    padding-left: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.pfp {
    height: 128px;
    width: 128px;
    border-radius: 50%;
}

.username {
    font-size: 1.5vw;
    padding-bottom: 4px;
    padding-left: 8px;
}
