body {
    font-family: "JetBrains Mono";
    font-size: 16px;
    color: whitesmoke;
    background-color: #090416;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bar {

}

nav {

}

footer {

}
