body {
    font-family: "JetBrains Mono";
    font-size: 16px;
    color: whitesmoke;
    background-color: #090416;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-common {
    margin: 0;
    padding: 32px;
    background-color: #12092D;
    display: flex;
}

nav {

}

footer {

}
